#after-login {
    display: none;
}

#memo-list {
  border: 2px solid black;
  list-style-type: none;
  padding: 0;
}

.memo-item {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.memo-item.active {
  border: 2px solid red;
}

p.memo {
  margin: 0;
}

h2 {
  margin: 0;
}

form {
  border: 1px solid black;
  padding: 10px;
}

input[name=memo] {
  width: 100%;
}

.controls {
  text-align: right;
  margin-top: 10px;
}

#edit-form {
    display: none;
}